html,
body {
  margin: 0;
  padding: 0;

  width: 100vw;

  background: linear-gradient(-45deg, #ba6eb2, #8687c3, #4e91bf, #1a5d73);

  position: relative;

  overflow: auto;
  scroll-behavior: smooth;
}

/* @keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
} */

.App {
  backdrop-filter: brightness(0.7);
}
